body, html {
	width: 100%;
	height: 100%;
	font-family: 'Cormorant', serif;
	background-color: #504029;
}


.container_images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container_images img {
	width: 450px;
	height: 300px;
	margin: 2px;
	transition: all 1s;
}

.container_images img:hover {
	transform: scale(1.05);
}

.navbar {
	font-size: 16px;
	margin-bottom: 25px;
}